lm/TinyStoriesV2-GPT4-train.txt
lm/TinyStoriesV2-GPT4-valid.txt
.DS_Store
data
lm/__pycache__
tests/__pycache__
output.prof
.promts
.vscode
.vscode
llm/__pycache__
__pycache__
__pycache__
log/memory_snapshot.pickle
pre_trained
log/math_rl
events.out.tfevents.1763173883.mlxlab3h0ntyff6854012c-20250619122308-22b2uc-0bytct-worker.21588.0
